<a href="https://colab.research.google.com/github/herdinsavira/Algoritma-Pemograman/blob/main/Jobsheet_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 01 - Tuple: Data Tetap yang Tidak Bisa Diubah

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

Praktikum 02 - Dictionary Dasar: Menyimpan Data Mahasiswa

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM :", mahasiswa["NIM"])
print("Nama :", mahasiswa["Nama"])
print("Prodi :", mahasiswa["Prodi"])

NIM : 20251001
Nama : Andi
Prodi : TRK

Praktikum 03 - Operasi pada Dictionary

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa["Umur"] = 20              # menambah data
mahasiswa["Prodi"] = "Teknik Komputer" #memperbarui data
del mahasiswa["Umur"]               # menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

Praktikum 04 – Set dan Operasi Himpunan

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

Praktikum 05 – Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Bahasa Inggris', 'Matematika', 'Algoritma'}
Mata kuliah Mhs2: {'Basis Data', 'Matematika', 'Algoritma'}
Mata kuliah yang sama: {'Matematika', 'Algoritma'}

Praktikum 06 – Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

Penugasan 3 - Tuple Sederhana

In [ ]:
mahasiswa = ("Herdin Savira", 19, "TRK")

print("Nama  :", mahasiswa[0])
print("Umur  :", mahasiswa[1])
print("Prodi :", mahasiswa[2])

Nama  : Herdin Savira
Umur  : 19
Prodi : TRK

Penugasan 4 - Tuple Tidak Bisa Diubah

In [ ]:
data = (1, 2, 3)

data[1] = 9

print(data)

TypeError: 'tuple' object does not support item assignment

Penugasan 5 - Dictionary Dasar

In [ ]:
buku = {"Judul": "Algoritma", "Penulis": "Munir", "Tahun": 2021}

print("Judul   :", buku["Judul"])
print("Penulis :", buku["Penulis"])
print("Tahun   :", buku["Tahun"])

Judul   : Algoritma
Penulis : Munir
Tahun   : 2021

Penugasan 6 - Operasi Dictionary

In [1]:
dosen = {"NIP": "12345", "Nama": "Siti", "Prodi": "TRK"}

dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]

print("Data Dosen Akhir:", dosen)

Data Dosen Akhir: {'NIP': '12345', 'Nama': 'Siti', 'Prodi': 'Teknik Komputer'}

Penugasan 7 - Set dan Himpunan

In [ ]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

union = A | B                # Gabungan
intersection = A & B         # Irisan
difference = A - B           # Selisih

print("Union        :", union)
print("Intersection :", intersection)
print("Difference   :", difference)

Union        : {'Bahasa Inggris', 'Matematika', 'Algoritma', 'Basis Data'}
Intersection : {'Matematika', 'Algoritma'}
Difference   : {'Bahasa Inggris'}

Penugasan 8 - Studi Kasus Dictionary

In [ ]:
nilai = {"Andi": 85, "Budi": 90, "Cici": 78}

print("Daftar Nilai Mahasiswa:")
for nama, skor in nilai.items():
    print(f"{nama} : {skor}")

rata_rata = sum(nilai.values()) / len(nilai)

print("\nRata-rata nilai:", rata_rata)

Daftar Nilai Mahasiswa:
Andi : 85
Budi : 90
Cici : 78

Rata-rata nilai: 84.33333333333333

Penugasan 9 - Studi Kasus Set – Klub Mahasiswa

In [ ]:
klub_A = {"Andi", "Budi", "Cici"}
klub_B = {"Cici", "Deni", "Eka"}

anggota_semua = klub_A | klub_B          # Union
anggota_dua_klub = klub_A & klub_B       # Intersection
anggota_hanya_A = klub_A - klub_B        # Difference

print("Daftar seluruh anggota (Union):", anggota_semua)
print("Anggota di kedua klub (Intersection):", anggota_dua_klub)
print("Anggota hanya di Klub A (Difference):", anggota_hanya_A)

Daftar seluruh anggota (Union): {'Cici', 'Andi', 'Eka', 'Budi', 'Deni'}
Anggota di kedua klub (Intersection): {'Cici'}
Anggota hanya di Klub A (Difference): {'Andi', 'Budi'}