<a href="https://colab.research.google.com/github/herdinsavira/Algoritma-Pemograman/blob/main/Jobsheet_4_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*   Praktikum 01 - Perulangan For dengan Range

In [4]:
for i in range(1, 6):
    print(i)

1
2
3
4
5



*  Praktikum 02 - Perulangan While

In [5]:
n = int(input("Masukkan angka: "))
while n > 0:
  print(n)
  n -= 1

Masukkan angka: 5
5
4
3
2
1



*   Praktikum 03 - Nested Loop (Segitiga Bintang)

In [8]:
for i in range(1, 6):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****



*   Praktikum 04 - Break and Continue

In [10]:
for i in range(1, 11):
  if i == 5:
    print("Angka 5 ditemukan")
    break

Angka 5 ditemukan

In [11]:
for i in range(1, 6):
  if i % 2 == 1:
    continue
  print(i)

2
4



*  Praktikum 05 - For Pada Dictionary

In [13]:
data = {"Nama": "Andi", "Umur": "20", "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK



*   Praktikum 06 - For dengan Enumerate

In [15]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici


*   Praktikum 07 - Studi Kasus: Program Kasir Multi-Item

In [16]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
      break
  harga = float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0



*   Penugasan 3 - Menampilkan Deret Angka

In [18]:
for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30



*   Penugasan 4 - Hitung Faktorial

In [21]:
n = int(input("Masukkan angka: "))
faktorial = 1
for i in range(1, n + 1):
  faktorial *= i
print(f"Faktorial dari {n} adalah {faktorial}")

Masukkan angka: 5
Faktorial dari 5 adalah 120



*  Penugasan 5 - Pola Segitiga Terbalik

In [25]:
tinggi = 5

for i in range(tinggi, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*****
****
***
**
*



*   Penugasan 6 - Cari Bilangan Prima dengan Break

In [37]:
bilangan = int(input("Masukkan sebuah bilangan: "))

if bilangan > 1:
    for i in range(2, bilangan):
        if bilangan % i == 0:
            print(bilangan, "bukan bilangan prima (habis dibagi", i, ")")
            break
    else:
        print(bilangan, "adalah bilangan prima")
else:
    print(bilangan, "bukan bilangan prima")

Masukkan sebuah bilangan: 547
547 adalah bilangan prima



*   Penugasan 7 - Tampilan Hanya Bilangan Genap dengan Continue

In [41]:
for i in range(1, 21):
  if i % 2 != 0:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20



*   Penugasan 8 - Iterasi Dictionary Mahasiswa

In [42]:
mahasiswa = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for key, value in mahasiswa.items():
    print(key, ":", value, end=" ")

Nama : Budi Umur : 21 Prodi : Teknik Komputer



*   Penugasan 9 Enumerate Daftar Barang

In [43]:
barang = ["Buku", "Pulpen", "Tas"]

for i, item in enumerate(barang, start=1):
    print(i, item)

1 Buku
2 Pulpen
3 Tas



*   Penugasaan 10 - Kasir Diskon

In [47]:
print("=== Program Kasir Sederhana ===")
print("Ketik 'selesai' jika sudah selesai belanja.\n")

total = 0
barang_list = []

while True:
    nama = input("Nama barang: ")

    if nama.lower() == "selesai":
        break

    jumlah = int(input("Jumlah: "))
    harga = int(input("Harga barang (Rp): "))

    subtotal = harga * jumlah
    total += subtotal
    barang_list.append((nama, harga, jumlah, subtotal))
    print(f"Subtotal untuk {nama}: Rp{subtotal:,}\n")

diskon = 0
if total >= 200_000:
    diskon = total * 0.10

total_bayar = total - diskon

print("\n=== STRUK BELANJA ===")
for item in barang_list:
    print(f"{item[0]} (x{item[2]}) - Rp{item[1]:,} = Rp{item[3]:,}")

print("--------------------------")
print(f"Total Belanja : Rp{total:,}")
print(f"Diskon (10%)  : Rp{diskon:,}")
print(f"Total Bayar   : Rp{total_bayar:,}")
print("==========================")
print("Terima kasih telah berbelanja!")

=== Program Kasir Sederhana ===
Ketik 'selesai' jika sudah selesai belanja.

Nama barang: tas
Jumlah: 2
Harga barang (Rp): 60000
Subtotal untuk tas: Rp120,000

Nama barang: sepatu
Jumlah: 1
Harga barang (Rp): 500000
Subtotal untuk sepatu: Rp500,000

Nama barang: pensil
Jumlah: 4
Harga barang (Rp): 4000
Subtotal untuk pensil: Rp16,000

Nama barang: selesai

=== STRUK BELANJA ===
tas (x2) - Rp60,000 = Rp120,000
sepatu (x1) - Rp500,000 = Rp500,000
pensil (x4) - Rp4,000 = Rp16,000
--------------------------
Total Belanja : Rp636,000
Diskon (10%)  : Rp63,600.0
Total Bayar   : Rp572,400.0
==========================
Terima kasih telah berbelanja!