<a href="https://colab.research.google.com/github/herdinsavira/Algoritma-Pemograman/blob/main/Jobsheet_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 01 - Membuat dan Mengakses List 1D

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])     # Andi
print(mahasiswa[1])     # Budi
print(mahasiswa[-1])     # Cici

Andi
Budi
Cici

Praktikum 02 - Update dan Operasi Dasar List

In [ ]:
nilai =[85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

Praktikum 03 - Slicing List

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3])   # [85, 90, 78]
print(nilai[2:])    # [78, 92, 88]
print(nilai[:3])    # [85, 90, 78]

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

Praktikum 04 - List 2D(Matriks)

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks[0][0])  # 1
print(matriks[1][2])  # 6
print(matriks[2])     # [7, 8, 9]

1
6
[7, 8, 9]

Praktikum 05 - Operasi pada List 2D

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
    baris = []
    for j in range(len(A[0])):
        baris.append(A[i][j] + B[i][j])
    C.append(baris)

print(C)

[[8, 10, 12], [14, 16, 18]]

Praktikum 06 - Studi Kasus: Pengelolaan Nilai Mahasiswa

In [ ]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
    rata = sum(baris) / len(baris)
    print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

Penugasan 3 - Akses Elemen List

In [ ]:
mahasiswa = ["Aisa", "Aini", "Annisa", "Sean", "Kyla"]

print("Nama pertama:", mahasiswa[0])
print("Nama terakhir:", mahasiswa[-1])
print("Nama pada indeks ke-2:", mahasiswa[2])

Nama pertama: Aisa
Nama terakhir: Kyla
Nama pada indeks ke-2: Annisa

Penugasan 4 - Operasi Dasar List

In [ ]:
nilai = [70, 75, 80]

nilai[2] = 85
nilai.append(90)
nilai.remove(70)

print("Hasil akhir:", nilai)

Hasil akhir: [75, 85, 90]

Penugasan 5 - Slicing List

In [ ]:
angka = list(range(1,11))

print("3 elemen pertama:", angka[:3])
print("4 elemen terakhir:", angka[-4:])
print("Elemen dengan indeks genap:", angka[1::2])

3 elemen pertama: [1, 2, 3]
4 elemen terakhir: [7, 8, 9, 10]
Elemen dengan indeks genap: [2, 4, 6, 8, 10]

Penugasan 6 - List 2D Matriks

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]

print("Baris pertama kolom kedua:", matriks[0][1])
print("Baris kedua kolom ketiga:", matriks[1][2])
print("Seluruh baris pertama:", matriks[0])

Baris pertama kolom kedua: 2
Baris kedua kolom ketiga: 6
Seluruh baris pertama: [1, 2, 3]

Penugasan 7 - Operasi Matriks 2D

In [ ]:
A = [
    [1, 2],
    [3, 4]
]

B = [
    [5, 6],
    [7, 8]
]

hasil = [
    [A[0][0] + B[0][0], A[0][1] + B[0][1]],
    [A[1][0] + B[1][0], A[1][1] + B[1][1]]
]

print("Matriks A:", A)
print("Matriks B:", B)
print("Hasil penjumlahan:", hasil)

Matriks A: [[1, 2], [3, 4]]
Matriks B: [[5, 6], [7, 8]]
Hasil penjumlahan: [[6, 8], [10, 12]]

Penugasan 8 - Rata-rata Nilai Mahasiswa

In [ ]:
nilai = [
    [75, 80, 85],  # Mahasiswa 1
    [60, 70, 65],  # Mahasiswa 2
    [90, 95, 92]   # Mahasiswa 3
]

for i in range(len(nilai)):
    rata = sum(nilai[i]) / len(nilai[i])
    print("Rata-rata mahasiswa ke-", i+1, "=", rata)

Rata-rata mahasiswa ke- 1 = 80.0
Rata-rata mahasiswa ke- 2 = 65.0
Rata-rata mahasiswa ke- 3 = 92.33333333333333

Penugasan 9 -Studi Kasus-Data Kasus

In [ ]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

print("Daftar Stok Barang:")
for item in stok:
    print(item[0], ":", item[1])

terbanyak = stok[0]
for item in stok:
    if item[1] > terbanyak[1]:
        terbanyak = item

print("\nBarang dengan stok terbanyak:", terbanyak[0], "(", terbanyak[1], ")")

Daftar Stok Barang:
Buku : 20
Pulpen : 35
Penghapus : 15

Barang dengan stok terbanyak: Pulpen ( 35 )