<a href="https://colab.research.google.com/github/herdinsavira/Algoritma-Pemograman/blob/main/Praktikum_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*  Praktikum 1 - Pengenalan variabel dan tipe data

In [ ]:
# integer
umur = 20
print("Umur:", umur, "→", type(umur))

# float
tinggi = 170.5
print("Tinggi:", tinggi, "→", type(tinggi))

# String
nama = "Andi"
print("Nama:", nama, "→", type(nama))

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))

# List,
nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai))

# Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "→", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# Set
hobi = ("membaca", "olahraga", "musik")
print("Hobi:", hobi, "→", type(hobi))

Umur: 20 → <class 'int'>
Tinggi: 170.5 → <class 'float'>
Nama: Andi → <class 'str'>
Status Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>
Hobi: ('membaca', 'olahraga', 'musik') → <class 'tuple'>



*   Praktikum 02 - Input dan Output Dasar

In [12]:
# Input string
nama = input("Masukkan nama Anda: ")

# Input integer
umur = int(input("Masukan umur Anda: "))

# Input float
tinggi = float(input("Masukkkan tinggi badan (cm) : "))

# Output dengan format()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm". format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: Herdin
Masukan umur Anda: 19
Masukkkan tinggi badan (cm) : 169
Halo Herdin, umur Anda 19 tahun, tinggi 169.0 cm
Halo Herdin, umur Anda 19 tahun, tinggi 169.0 cm



*   Praktikum 03 - Operator Aritmatika

In [ ]:
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625



*  Prktikum 04 - Operator Relasional

In [ ]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x!= y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False



*   Praktikum 05 - Operator Logika dengan Studi Kasus Nyata

In [ ]:
# Operator Logika Dasar
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

#Studi kasus nyata: kelulusan
nilai = int(input("Mahsukkan nilai ujian:" ))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
  print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Mahsukkan nilai ujian:100
Masukkan jumlah kehadiran: 100
Status: LULUS



*  Praktikum 06 - Operator Kasir Sederhana

In [11]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

# Aturan diskon
if total >= 500000:
    diskon = 0.2
elif total >= 250000:
    diskon = 0.1
else:
    diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : Rp {bayar}")

Masukkan nama barang: celana
Masukkan harga barang: 70000
Masukkan jumlah barang: 3

===== Struk Belanja =====
Barang : celana
Jumlah : 3
Total : Rp 210000.0
Diskon : 0%
Bayar : Rp 210000.0



*   Penugasan 3 - Identitas Mahasiswa

In [14]:
nama = input("Masukkan nama Anda: ")
umur = int(input("Masukkan umur Anda: "))
tinggi = float(input("Masukkan tinggi badan (cm) : "))
status_aktif = bool(input("Apakah Anda mahasiswa aktif? (1 = Ya, 0 = Tidak): "))

print("\n===== Data Mahasiswa =====")
print(f"Nama          :{nama}")
print(f"Umur          :{umur} tahun")
print(f"Tinggi Badan  :{tinggi}")
print(f"Status_Aktif  :{status_aktif}")

Masukkan nama Anda: Herdin
Masukkan umur Anda: 19
Masukkan tinggi badan (cm) : 190
Apakah Anda mahasiswa aktif? (1 = Ya, 0 = Tidak): 1

===== Data Mahasiswa =====
Nama          :Herdin
Umur          :19 tahun
Tinggi Badan  :190.0
Status_Aktif  :True



*   Penugasan 4 - Operasi Aritmatika

In [15]:
bil1 = int(input("Masukkan bilangan pertama: "))
bil2 = int(input("Masukkan bilangan kedua: "))

print("\n===== Hasil Operasi Aritmatika =====")
print(f"Penjumlahan (+)  : {bil1 + bil2}")
print(f"Pengurangan (-)  : {bil1 - bil2}")
print(f"Perkalian (×)    : {bil1 * bil2}")
print(f"Pembagian (/)    : {bil1 / bil2}")
print(f"Sisa Bagi (%)    : {bil1 % bil2}")
print(f"Pangkat ()       : {bil1 ** bil2}")

Masukkan bilangan pertama: 21
Masukkan bilangan kedua: 43

===== Hasil Operasi Aritmatika =====
Penjumlahan (+)  : 64
Pengurangan (-)  : -22
Perkalian (×)    : 903
Pembagian (/)    : 0.4883720930232558
Sisa Bagi (%)    : 21
Pangkat ()       : 716852284415660510488171761482895729863004676631934290061



*   Penugasan 5 - Konversi Nilai

In [18]:
nilai = float(input("Masukkan nilai desimal Anda: "))

print("\n===== Hasil Konversi Nilai =====")
print(f"Nilai dalam bentuk integer : {int(nilai)}")
print(f"Nilai dalam bentuk string  : {str(nilai)}")
print(f"Nilai dibulatkan 2 digit   : {round(nilai, 2)}")

Masukkan nilai desimal Anda: 98.564

===== Hasil Konversi Nilai =====
Nilai dalam bentuk integer : 98
Nilai dalam bentuk string  : 98.564
Nilai dibulatkan 2 digit   : 98.56



*  Penugasan 6 - Operator Relasional

In [19]:
bil1 = int(input("Masukkan bilangan pertama: "))
bil2 = int(input("Masukkan bilangan kedua: "))

print("\n===== Hasil Perbandingan =====")
print(f"{bil1} == {bil2} : {bil1 == bil2}")
print(f"{bil1} != {bil2} : {bil1 != bil2}")
print(f"{bil1} > {bil2}  : {bil1 > bil2}")
print(f"{bil1} < {bil2}  : {bil1 < bil2}")
print(f"{bil1} >= {bil2} : {bil1 >= bil2}")
print(f"{bil1} <= {bil2} : {bil1 <= bil2}")

Masukkan bilangan pertama: 45
Masukkan bilangan kedua: 87

===== Hasil Perbandingan =====
45 == 87 : False
45 != 87 : True
45 > 87  : False
45 < 87  : True
45 >= 87 : False
45 <= 87 : True